body {
    background-color: black;
    color: yellow;
}

li {
    list-style-type: none;
    border: 2px solid yellow;
    padding: 12px;
    margin-bottom: 10px;
    width: 400px;
    font-size: 18px;
    background-color: black;
}

li:hover {
    list-style-type: disc;
    text-decoration: underline;
}

.input--text {
    background-color: transparent;
    text-align: center;
    width: 350px;
    padding: 10px;
    border: 1px solid yellow;
    color: yellow;
    outline: none;
    margin-left: 38px;
}

.form {
    width: 500px;
    margin: 0 auto;
}

button {
    padding: 5px 10px;
    background-color: midnightblue;
    color: yellow;
    border-color: yellow;
    outline: none;
    margin-left: 20px;
}

button:hover {
    background-color: black;
    color: midnightblue;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-left: 100px;
}



